<%- include('../include/header') %>

<div class="container">
    <%- include('../include/partials/responseMessage') %>

    <form action="/api/register" method="POST" class="flex-center-columm auth-form">
        
        <h1 class="flex-center-row">Register <img src="/assets/icons/user-plus.svg" alt="User"> </h1>

        <div class="input-group">
            <label >User Name</label>
            <input type="text" name="username" placeholder="Enter your Username...">
        </div>

        <div class="input-group">
            <label>EMAIL</label>
            <input type="text" name="email" placeholder="Emter your Email...">
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Emter your Password...">
        </div>

        <div class="input-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="Confirm your Password" >
        </div>

        <a href="/login" class="redirect-link">Already have an account?</a>

        <button type="submit" name="submit">Submit</button>
    </form>
</div>

<script src="js/responseMessage.js" ></script>

<%- include('../include/footer') %>