<nav>

    <a href="/" class="nav-brand">Monster Mayhem <img src="/assets/mayhem-icons/chess-pawn-solid.svg" alt=""></a>

    <ul class="nav">
        <li class="nav-link">
            <a href="/register">Register</a>
        </li>
        <li class="nav-link">
            <a href="/login">Login</a>
        </li>
    </ul>
</nav>