<nav>
    <a href="/" class="nav-brand">Online Mayhem<img src="/assets/icons/mayhem-claw.svg" alt="Mayhem Claw"></a>

    <ul class="nav">
        
            <li class="nav-link">
                <a href="/register">Register</a>
            </li>
    
            <li class="nav-link">
                <a href="/login">Login</a>
            </li>
    </ul>
</nav>